<ul>
<% @contact_inquiries.each do |inquiry| %>
  <ul>
   <li><%= inquiry.first_name %></li>
   <li><%= inquiry.last_name %></li>
   <li><%= inquiry.subject %></li>
   <li><%= inquiry.description %></li>
</ul><br>
<% end %>
</ul>
